.product {
	height: 60px;
	background-color: white;
	border-radius: 5px;
	padding: 0 30px;
	color: rgb(108, 108, 108);
	border: 1px solid rgb(225, 224, 224);
	font-size: 14px;
	max-width: 1200px;
	min-width: 800px;
	
	&__serial-number {
		font-size: 12px;
	}

	&__indicator {
		display: block;
		width: 6px;
		height: 6px;
		background-color: rgb(18, 219, 92);
		border-radius: 50%;
	}

	&__image {
		width: 35px;
		height: 30px;
	}

	&__title {
		color: rgb(59, 59, 59);
		font-size: 16px;
		text-decoration: underline;
		width: 240px;
		text-decoration-color: rgb(194, 192, 191);
	}
	

	&__type {
		font-size: 16px;
	}

	&__price {
		font-weight: bold;
		width: 80px;
	}

	&__order-name {
		display: block;
		max-width: 200px;
		text-decoration: underline;
	}

	&__trash-bin-icon {
		width: 20px;
		height: 20px;
	}

	&--orders-list {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid rgb(235, 235, 241);
		height: 50px;
	}
}