.sidebar {
	min-height: 90vh;
	padding-top: 40px;
	position: sticky;
	box-shadow: 12px 2px 5px 0px rgba(219,219,219,1);

	&__user-photo {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		margin-bottom: 20px;
	}

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		color: rgb(104, 104, 104);
	}
}